p{
    font-family: montserrat;
    color:#ffffff;    
}
.texto-tamanho-padrão {
    color: #ffffff;
    font-family: montserrat;
    font-size: 20px;
}

.texto-tamanho-grande-negrito{
    color: #ffffff;
    font-family: montserrat;
    font-style:bold;
    font-size: 40px;
}
.texto-tamanho-pequeno{
    color: #ffffff;
    font-family: montserrat;
    font-size: 10px;  
}

.principal-div{
    width: 800px;
    height: max-content;
    margin: 200px auto;
    top: 50%;
    margin-top: 50px;
}

.principal-div img {
    width: 150px;
    height: 200px;
    padding-right: 20px;
}

html{
    background-color: #181818;
}

#Menu ul{
    text-align: right;
}

#Menu ul li{
    display: inline-block;
    font-family: montserrat;
    color: #ffffff;
    }

#Menu ul li a {
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none;
}

.div-sobre-mim{
    background-color: #2a2a2a;
    margin: 200px auto;
    top: 50%;
    margin-top: 50px;
    width: 900px;
    height: 500px;
}
.div-sobre-mim img{
    width: 279px;
    height: 500px;
    padding-right: 20px;
}
